
body{
    margin:0;
    padding:0;
    text-align:center;
    background-color:#ffffff;
}
table{
    margin: auto;
    background-color:#dedede;
    border:solid 3px #aaaaaa;
    border-radius: 10px;
    border-spacing: 10px;
}
td{
    margin:10px;
    width:100px;
    height:100px;
    border:solid 5px #ffffff;
    border-radius: 70px;
}
h1{
    margin:0;
}
h2{
    margin:0;
    padding-top:30px;
    font-size: 30px;
}
#board{
    position: absolute;
    left:0;
    top:40px;
    text-align:center;
}
#box_wrap{
    position: absolute;
    right:0;
    top:40px;
    margin: auto;
    width:200px;
    height:350px;
    background-color:#dedede;
    border:solid 3px #aaaaaa;
    border-radius: 10px;
    border-spacing: 10px;
}
#piece_wrap{
    position: absolute;
    right:0;
    top:417px;
    margin: auto;
    width:200px;
    height:121px;
    background-color:#dedede;
    border:solid 3px #aaaaaa;
    border-radius: 10px;
    border-spacing: 10px;
}

#piece_wrap p{
    margin:0;
}

#turn_wrap{
	position: absolute;
	top:0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    font-size: 25px;
}

#result{
	position: absolute;
	bottom: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    font-size: 25px;
}
#quartogame{
    margin:0;
}
#top{
    margin:0;
    padding: 40px;
    background-color: #ffbc3e;
}
#title{
    font-family: 'メイリオ',sans-serif;
    font-size: 60px;
}
#open_game{
    width:5cm;
    height:1.5cm;
}
#startbutton{
    padding-top:20px;
    padding-bottom:20px;
}
#startbutton button{
    width:4cm;
    height:1cm;
}
.btn-flat-double-border {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border:solid 1px #aaaaaa;
    border-radius: 4px;
    transition: .4s;
    background: #ffbc3e;
}
.btn-flat-double-border:hover {
    background: #fffbef;
}

#gamearea{
    position: relative;
    width:725px;
    height:600px;
    margin:auto;
    margin-bottom:20px;
}
