body{
    text-align:center;
}
#board{
    text-align:center;
}
#box{
    width:200px;
    float:left;
}
#piece{
    width:200px;
}

canvas{
    border:solid 1px;
}

table{
    margin: auto;
}
td{
    width:90px;
    height:90px;
}
.gamediv{
    float: left;
}
