
body{
    margin:0;
    padding:0;
    text-align:center;
    background-color:#FFF2DD;
    /*background: linear-gradient(rgb(177, 254, 255), rgb(150, 192, 255));*/
}
table{
    margin: auto;
    background-color:#FFF2DD;
}
td{
    width:100px;
    height:100px;
}
h1, h2, h3{
    margin:0;
}
#board{
    text-align:center;
    float: left;
}
#box{
    margin: auto;
    float:left;
    width:200px;
}
#piece{
    margin: auto;
    float:left;
    width:200px;
}
#quartogame{
    margin:0;
}

header{
    margin:0;
    background-color:#a67b2d;
}
#top{
    margin:0;
}
#title{
    font-family: 'メイリオ',sans-serif;
    font-size: 60px;
    padding: 25px 0px;
}
#play{
    padding-top:40px;
}
#open_game{
    width:5cm;
    height:1.5cm;
}
#startbutton{
    padding-top:20px;
    padding-bottom:20px;
}
#startbutton button{
    width:4cm;
    height:1cm;
}

.btn-flat-double-border {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: double 4px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    background: #ebc175;
  }
  .btn-flat-double-border:hover {
    background: #fffbef;
  }